
footer {
    background-color: #000;
    color: #fff;
    padding: 30px 40px 10px 40px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
}

.footer-contenedor {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 20px 0;
}

.footer-info .footer-brand,
.footer-enlaces .footer-titulo,
.footer-contacto .footer-titulo {
    font-size: 28px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footer-enlaces ul {
    list-style: none;
    padding: 0;
}

.footer-enlaces li {
    margin-bottom: 10px;
}

.footer-enlaces a {
    color: #fff;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.footer-enlaces a:hover {
    text-decoration: underline;
}

.footer-contacto address {
    font-style: normal; /* cursiva por defecto de <address> */
}

.footer-contacto ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contacto li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-contacto a {
    color: #fff;
    text-decoration: none;
}

.footer-contacto img {
    filter: invert(1);
    margin-right: 10px;
    width: 20px;
    height: 20px;
}


.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.footer-bottom small {
    font-size: inherit; 
}